<% layout('layouts/boilerplate') %>
    <h1>Details Are:</h1>
    <h2>
        <%= details.user%>
            <%=details.capital%>
                <%=details.stock%>
    </h2>
    <a href="/">back</a>