<% layout("layouts/boilerplate") %>
    <div class="container border align-items-end" style="height: 500px;">
        <div class="row ">my row
            <div class="col">col1</div>
            <div class="col">col2</div>

        </div>
    </div>